
<tr>
  <td class="quiz">
    <a href="<%= quiz_path(quiz) %>"><%= quiz.created_at.strftime("%Y/%m/%d %H:%M") %></a>
  </td>
  <td class="quiz">
    <%= quiz.score %>/<%= quiz.questions.length %>
  </td>
</tr>
