<% if @user.quizzes.empty? %>
  <span>No completed quizzes yet.</span>
<% else%>
  <table class="quiz" summary="Quiz items">
    <tr><th>Created</th><th>Score</th></tr>
    <%= render @quizzes %>
  </table>
<% end %>