 <table class="front" summary="Add item form">
    <tr>
      <td class="main">
        <h1 class="item">Add new</h1>
        <%= render 'shared/item_form' %>
      </td>
    </tr>
  </table>
  
<% unless @items.empty? %>
  <table class="items" summary="Dictionary items">
    <%= render @items %>
  </table>
  <%= will_paginate @items %>
<% end %>
