<tr>
  <td class="item">
    <span class="expression"><%= item.expression %></span>
    <span class="translation"><%= item.translation %></span>
    <span class="tags">
      Tags ... TODO
    </span>
  </td>
  <td class="item">
    <%= 
    if current_user?(item.user)
      button_to "delete", item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => item.expression 
    end
                                    %>
  </td>

</tr>
