<header>
  <% logo = image_tag("logo.png", :alt => "myLang language study", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Words", items_path %></li>
      <li><%= link_to "Quiz", '/quizzes?start=yes' %></li>
      <li><%= link_to "Dashboard", quizzes_path %></li>
    </ul>
  </nav>
</header>